{% extends "base.jinja"%}

{% block content %}

    <div class="card">
        <div class="card-header">
            CPUs
        </div>
        <div class="card-body">
            <img src="static/departments_cpu.png">
        </div>
    </div>
    <br>

        <div class="card">
        <div class="card-header">
            GPUs
        </div>
        <div class="card-body">
            <img src="static/departments_gpu.png">
        </div>
    </div>
    <br>

        <div class="card">
        <div class="card-header">
            RAM
        </div>
        <div class="card-body">
            <img src="static/departments_ram.png">
        </div>
    </div>
    <br>

{% endblock %}