{% extends "base.jinja"%}

{% block content %}

{% for name in groups %}
    <div class="card">
        <div class="card-header">
            {{ name["name"] }}
        </div>
        <div class="card-body">
            <img src="static/{{name['name']}}.png">
        </div>
    </div>
    <br>
{% endfor %}

{% endblock %}