{% extends "base.jinja"%}

{% block content %}

{% for name in user_info %}
    <div class="card">
        <div class="card-header">
            <h4><strong>{{ name["full_name"] }}</strong></h4>
        </div>
        <div class="card-body">
            <center>
                <img src='static/{{name["full_name"]}}.png'>
            </center>
        </div>
    </div>
    <br>
{% endfor %}

{% endblock %}